.idea/
.idea
*.log
.gradle/
.gradle

build/
build

gradle/
gradle

logs/

out/

.sonar
classes/
kairosActivity.iml
*.iml
scheduler-service/gradlew.bat
scheduler-service/gradlew
gdpr/gradlew.bat
gdpr/gradlew
.gitignore
