<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <springProfile name="development,devdeploy,test,default">

        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <!-- Log message format -->
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                </pattern>
            </encoder>
        </appender>

        <!-- Setting the root level of logging to INFO -->
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>



    </springProfile>
    <springProfile name="production">
        <logger name="com.kairos" level="WARN,INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE" />
        </logger>
    </springProfile>
</configuration>


