<!DOCTYPE html>
<html style="height: 100%;">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="angular-animate.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.6/angular-touch.min.js"></script>-->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8y3XyNnZEQfub_Lww9CzLTVzFAqKKMXQ"></script>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <body style="height: 100%;">

        <div ng-app="myApp" ng-controller="namesCtrl">
            <div class="container" ng-show="!employees.length"><textarea class="form-control" rows="25" placeholder="XML" ng-model="task.xml"></textarea>
                <modal visible="showModal">
                    Any additional data / buttons
                </modal>
                <div class="divbutton">
                    <input type="text" ng-model="task.id" placeholder="Id">
                    <input class="button" type="button" value="submit" ng-click="submitXml();">
                    <select class="button" ng-show="problemIds.length>0" ng-model="problemId" ng-options="id.planningId for id in problemIds">
                    </select>

                    <input class="button" type="button" ng-show="problemIds.length>0" value="Status" ng-click="getStatus();">
                    <input class="button" type="button" ng-show="problemIds.length>0" value="Solution" ng-click="getSolution();">
                    <input class="button" type="button" ng-show="false" value="Location" ng-click="makeLocationData();">

                    <span class="status">{{planningProblem.status}}</span>
                </div>
            </div>

            <div ng-show="employees.length>0 && !mapShow">
                <div class="table-details">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Details</th>
                                <th>Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1.Total Tasks</td>
                                <td>{{taskListSize}}</td>
                            </tr>
                            <tr>
                                <td>2.Total Vehicles</td>
                                <td>{{vehicleList}}</td>
                            </tr>
                            <tr>
                                <td>3.Total Employees</td>
                                <td>{{employees}}</td>
                            </tr>
                            <tr>
                                <td>4.Total Unassigned Tasks</td>
                                <td>{{unassigntasksList}}</td>
                            </tr>
                            <tr>
                                <td>5.Available Employees</td>
                                <td>{{avialableEmp}}</td>
                            </tr>
                            <tr>
                                <td>6.Assigned Employees</td>
                                <td>{{assignedEmp}}</td>
                            </tr>
                            <tr>
                                <td>7.UnAssigned-Employees</td>
                                <td>{{unAssignEmp}}</td>
                            </tr>
                            <tr>
                                <td>8.Optaplanner Score</td>
                                <td>{{plannerScore}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                <div class="staff-info-box clearfix" ng-show="!mapShow">
                    <ul class="staff-list clearfix" ng-repeat="emp in employees">
                        <li>
                            <a><span class="number">{{emp.employeeNumber}}</span></a>
                            <div class="staff-name"> <!--<a><span ng-click="getMap();">pradeep</span></a>-->
                                <a><span ng-click="getMap(emp);">{{emp.employeeName}}</span></a>, V={{emp.vehicleId}},
                                <span>{{emp.availableTime}}, TaskAssigned = {{emp.nextTasks.length}}</span>
                                <span>Planned Period: {{emp.plannedTimeId}}</span>
                                <span ng-init="counter=0" ng-show="false">{{emp.employeeLocation.latitude}}-{{emp.employeeLocation.longitude}}</span>
                            </div>

                            <ul class="staff-task-list" ng-repeat="task in emp.nextTasks">
                                <li>
                                    <div class="task-duration-box">
                                        <span class="task-duration">{{task.arrivaltime}} min,{{task.waitingtime}} min</span>
                                    </div><!--//task.brokenhardcontrants-->
                                    <div class="task-box" ng-class="{taskHardContraints: task.brokenhardcontrants,taskorderconstraint: task.brokenOrder,taskboundryconstraint:task.brokenBoundries}">
                                        <span ng-show="false">{{task.hardcontrants}},{{task.brokenhardcontrants}},{{task.brokenOrder}}</span>
                                        <span ng-show="task.plannedInSecondInterval">SEC</span>
                                        <span ng-show="task.plannedInExtendedInterval">EXT</span>


                                        <span>{{$index+1}}</span>
                                        <span class="task-time3" style="border:1px">{P:{{millisToUTCDate(task.startTime) | date:'dd-MMM|| HH:mm:ss'}} - {{millisToUTCDate(task.plannedEndTime) | date:'dd-MMM|| HH:mm:ss'}} }</span>
                                        <span class="task-time">{A1:{{millisToUTCDate(task.startTime1) | date:'dd-MMM|| HH:mm:ss' }} - {{millisToUTCDate(task.endTime1) | date:'dd-MMM|| HH:mm:ss'}} -{{task.slaStart1}} -{{task.slaEnd1}} }</span>
                                        <span class="task-time2">{A2:{{millisToUTCDate(task.startTime2) | date:'dd-MMM|| HH:mm:ss' }} - {{millisToUTCDate(task.endTime2) | date:'dd-MMM|| HH:mm:ss'}} -{{task.slaStart2}} -{{task.slaEnd2}} }</span>
                                        <span class="task-id">[{{task.id}},{{task.taskName}},{{task.citizenName}}]</span>
                                        <span class="task-relatedtaskid" ng-show="task.multiMan">OTHER-{{task.relatedTaskId}}</span>
                                        <span ng-show="false">{{task.taskLocation.latitude}}-{{task.taskLocation.longitude}}</span>
                                        <span ng-show="task.dependsUponId!=null">DEP_UPON-{{task.dependsUponId}}</span>
                                    </div>
                                </li>
                                <div class="last-box" ng-show="task.timeReachToUnit>=0">
                                    <span>{{task.timeReachToUnit}} min</span>
                                </div>
                            </ul>


                        </li>
                    </ul>

                </div>


                <div>
                    <div ng-show="!mapShow" class="unassigned-task">
                        <h4 class="heading">unassigned tasks</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Task Nane</th>
                                    <th>Location</th>
                                    <th>Citizen Name</th>
                                    <th>Start Time W1</th>
                                    <th>End Time W1</th>
                                    <th>Start Time W2</th>
                                    <th>End Time W2</th>
                                    <th>Probable Planning Time</th>
                                    <th>Reason</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="task in tasksList">
                                    <td>{{task.id}}</td>
                                    <td>{{task.taskName}}</td>
                                    <td>{{task.taskLocation.latitude}},{{task.taskLocation.longitude}}</td>
                                    <td>{{task.citizenName}}</td>
                                    <td>{{millisToUTCDate(task.startTime1) | date:'dd-MMM HH:mm:ss'}}</td>
                                    <td>{{millisToUTCDate(task.endTime1) | date:'dd-MMM HH:mm:ss'}}</td>
                                    <td>{{millisToUTCDate(task.startTime2) | date:'dd-MMM HH:mm:ss'}}</td>
                                    <td>{{millisToUTCDate(task.endTime2) | date:'dd-MMM HH:mm:ss'}}</td>
                                    <td>{{millisToUTCDate(task.startTime) | date:'HH:mm:ss'}}-{{millisToUTCDate(task.plannedEndTime) | date:'HH:mm:ss'}}</td>
                                    <td>{{getReasonByTask(task.hardcontrants)}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <a class="back" ng-show="mapShow" ng-click="mapShow=false"><span>Back</span></a>
            <div ng-show="mapShow" id="map"></div>
        </div>
        <script src="optaCtrl.js"></script>
        <script type="text/ng-template" id="infoplan.html">
<div class="modal-header whiteBg pad10">
    <h1 class="fs25 mar0">
        Crop Your Image
            </h1>
            </div>
<div class="modal-body clearfix paddingIn">
    <div class="row">
        <div class="col-xs-12">
            <div class="cropArea">
                <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
            </div>
            </div>
            </div>
            </div>
<div class="modal-footer whiteBg pad10">
    <button class="btn btn-default" ng-click="cancel();">Cancel</button>
    <button class="btn btn-primary" ng-click="ok();">OK</button>
            </div>
        </script>
    </body>
</html>
